.App {
    height: 800px;
	display:flex;
	justify-content:center;
}

.board-container {
	margin-top:10px;
    display:flex;
    width: 100%;
	max-width:800px;
    height: 800px;
    flex-flow: row wrap;
	border:1px solid black;
}

.board-container .tile {
    background: teal;
    width: 12.5%;
    height: 12.5%;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.board-container .tile:hover {
  background: teal;
}

.board-container .black {
    background: gray;
}

.board-container .white {
    background: lightsalmon;
}

.turn-color {
  display: flex;
  justify-content: center;
}

.board-container .focus-green {
  background: green;
}

.valid-tile {
  border: green;
}